# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# VScode Folders
*.vscode

*DS_Store
.vscode/settings.json
.vscode/c_cpp_properties.json
src/CPPLINT.cfg
materials/linters/cpplint.py
materials/.DS_Store
materials/linters/cpplint.py
src/polygon.c
src/polygon.c.disabled
src/Makefile
src/.vscode/settings.json
src/.vscode/tasks.json
src/.vscode/c_cpp_properties.json
src/.vscode/launch.json

